@tailwind base;
@tailwind components;
@tailwind utilities;

/* Убираем стрелочки (spinners) в input type="number" */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* Настройки печати A4 */
@media print {
  @page {
    size: A4;
    margin: 0; /* Убираем браузерные отступы */
  }
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  /* Скрываем скроллбары при печати */
  .custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}